html,body{display:flex;width:100%;height:100%;margin:0;padding:10px;justify-content:center;align-items:center;box-sizing:border-box;background-color:#413b7c}#app{position:relative;width:1200px;height:300px;padding:10px;background-color:#fff;box-shadow:1px 1px 2px 1px #323232}#canvas{display:flex;width:100%;height:100%;flex-shrink:1;flex-grow:0;box-sizing:border-box;border-left:1px dashed #bebebe;border-bottom:1px dashed #bebebe}.github-link{position:absolute;display:flex;top:10px;left:10px;padding-right:8px;align-items:center;border-radius:4px;background-color:#fff;box-shadow:1px 1px 3px 1px rgba(65,59,124,0.6);font-size:14px;font-family:Arial, sans-serif;color:#000000;text-decoration:none;user-select:none}

